.payment-container {
  max-width: 1000px;
  max-height: 100%;;
  margin-left: auto;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background: #fff;
  border-radius: 8px;
}

.bank-info {
  background: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 20px;
}

.bank-info-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.qr-codes {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.qr-code {
  width: 120px;
  height: 120px;
}

.account-details {
  display: grid;
  gap: 6px;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 9px;
}

.copy-button {
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background: #f0f0f0;
}

.booking-info {
  margin-top: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.info-item i {
  width: 24px;
  color: #085d1c;
}

.warning-message {
  background: #e8f4fd;
  border-radius: 8px;
  padding: 9px;
  margin: 9px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-section {
  border: 2px dashed #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}

.upload-section:hover {
  border-color: #28a745;
  background: #f8f9fa;
}

.timer {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

.confirm-button {
  width: 100%;
  padding: 15px;
  background: #ffc107;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-button:hover {
  background: #ffca2c;
}

.orderInfo{
  border-radius: 2px;
  max-height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-item .bi {
  background-color: #9ee8b3;
  border-radius: 5px;
  text-align: center;
}